/output/
/\.idea/**
/testFiles/*/testOutput/
./testFiles/*/comparisonErrors.txt
./testFiles/*/Results.txt
CMakeLists.txt
/env/
/venv/
/gen/
/cmake-build-debug/
/src/g4_files/*.py
/src/g4_files/*.java
/src/g4_files/*.interp
/src/g4_files/*.tokens
src/__pycache__/
src/g4_files/__pycache__/
/examples/
**/.idea/