/output/
/\.idea/**
/testFiles/*/testOutput/
./testFiles/*/comparisonErrors.txt
./testFiles/*/Results.txt
CMakeLists.txt
/env/
/venv/
/gen/
/cmake-build-debug/
/src/g4_files/*.py
/src/g4_files/*.java
/src/g4_files/*.interp
/src/g4_files/*.tokens
src/__pycache__/
src/g4_files/__pycache__/
/examples/
**/.idea/
/testFiles/Project1/comparisonErrors.txt
/testFiles/Project0/comparisonErrors.txt
/testFiles/Project1/Result.txt
/testFiles/Project0/Result.txt
/testFiles/Project2/comparisonErrors.txt
/testFiles/Project2/Result.txt
/testFiles/Project3/comparisonErrors.txt
/testFiles/Project3/Result.txt
/testFiles/Project4/comparisonErrors.txt
/testFiles/Project5/Result.txt
